@font-face {
  font-family: 'Druk XXCond Super';
  src: url('../fonts/DrukXXCond-SuperItalic.woff2') format('woff2'),
    url('../fonts/DrukXXCond-SuperItalic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Druk XCond Super';
  src: url('../fonts/DrukXCond-SuperItalic.woff2') format('woff2'),
    url('../fonts/DrukXCond-SuperItalic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Druk XXCond Super';
  src: url('../fonts/DrukXXCond-Super.woff2') format('woff2'),
    url('../fonts/DrukXXCond-Super.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Druk Cond Super';
  src: url('../fonts/DrukCond-Super.woff2') format('woff2'),
    url('../fonts/DrukCond-Super.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Druk XCond Super';
  src: url('../fonts/DrukXCond-Super.woff2') format('woff2'),
    url('../fonts/DrukXCond-Super.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Druk Cond Super';
  src: url('../fonts/DrukCond-SuperItalic.woff2') format('woff2'),
    url('../fonts/DrukCond-SuperItalic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Helvetica Neue';
  src: url('../fonts/HelveticaNeueBlackCondensed.woff2') format('woff2'),
    url('../fonts/HelveticaNeueBlackCondensed.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Helvetica Neue';
  src: url('../fonts/HelveticaNeueBold.woff2') format('woff2'),
    url('../fonts/HelveticaNeueBold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Helvetica Neue';
  src: url('../fonts/HelveticaNeueRegular.woff2') format('woff2'),
    url('../fonts/HelveticaNeueRegular.woff') format('woff');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
